<html>
<header>
<script type="text/javascript" src="/site/assets/58770eaa/jquery.js"></script>

</header>
<body>
{{ this.registerPackage('code') }}
{{ this.registerPackage('bootstrap3') }}

<textarea class="code-html">
This is the code to the machine
</textarea>

</body>
</html>