{% extends this.viewPath('mainPage') %}

{# file information #}
{% block content %}
<h1>File upload and Upload directory</h1>
<p>There are two ways to add files (resources) to an Artwork. The first way is to <b>upload</b> the file
  directly on the website, the other way is to use a FTP application to upload the file and then
  link the uploaded file to the specified Artwork.</p>
<h3>Uploading with the browser</h3>
<p>
  Normal file can be directly uploaded to the Artwork. Normal files are small (less the 128 MByte). 
  These files are mostly previews, samples, images or documents belonging to the the Artwork. The upload 
  process is easy. Just select the file and press Upload. A wait line will be shown during the process. 
  After the upload the file is processed with ResourceSpace which still can take some time.<br/>
  When the process is finished the preview is shown in the application
</p>
<h3>The file store</h3>
<p>
  Because we are working with video, the size does matter. Original file can be huges. The upload system
  is limited to 128 MByte, so to upload files of 2 GByte (a normal uncompress video file) should be stored
  differently. Here the file store comes in handy<br />
  The file store is used for LARGE files, more the 128MByte. You just can not upload files beyond that
  size because the server (The apache server running the application) won’t permit it. So for the 
  original artwork you should use FTP. For this a FTP account is used at the office of PNEK. This
  FTP applciation can connect to the server and upload the file to the specified directory (Subdirectories
  are <b>not</b> allowed). If there is an hickup, the FTP application will continue the upload.<br />
  When upload they will be shown in the File store listbox. You can select the file and the file will be
  processed by Resource Space (it can take time for huge files) and the preview is shown.<br />
  Ofcause it is important that the name of the file has some logic to it. We propose the atleast the name
  of the Artist and the title of the Artwork are part of if. It would be handy if know to start the 
  name is the id of the Artwork.<br/>
  The file store is also used to restore a deleted or overwritten file. The restore file will be 
  places in the File Store so you can link it back to some Artwork. (The restore of deleted files is under 
  System / Delete files).
</p>

{% endblock %}
