{% extends this.viewPath('mainPage') %}
{# 
 File to test the functionality 
#}

{% block content %}
<h1>We have contact</h1>
And the next to ignore, now try again<br />
We are moving forward<br />

<b>good</b> to try it out
{% endblock %}
