{% extends this.viewPath('message') %}

{% block message %}
	<h2>Thank you for your reply</h2>	
	<p>One of our editors will read your message soon and will respond if nessary</p>
	<p></p> 
{% endblock %}
	