<div class="row-fluid">
	<section id="tertiary-nav" class="span4">
		<aside class="widget" >
			{% block subMenuFrame %}{% endblock %}
		</aside>
	</section>

	<div id="id-slave" class="span8 tertiary-column">		
		{% block viewContent %}viewContent {% endblock %}		
	</div>
</div>		
