{# 
  Display the flash if it's there
 #}
{% set styles = { 'error': 'danger', 'notice': 'info'} %}
{# styles translates the flash type to the bootstrap panel type #}
{% for key, message in App.user.getFlashes() %}
<br />

<div class="panel panel-{{ attribute(styles, key) |default(key) }}">
	<div class="panel-heading">
    <h3 class="panel-title">{{ Yii_t('base',key) }}</h3>
  </div>
  <div class="panel-body">
    {{ message | raw }}
  </div>
</div>

{% endfor %}
