{# 
	sub is the subController defining the list to show
#}
{% extends this.viewPath('main') %}

{% block content %}
<div id="main-content" class="container clearfix">
	<div class="row-fluid left-three-cols">
		<section class="span3 " id="secondary-nav">
			<aside class="widget">
				{{ this.menuHtml('item', itemMenu | default(null)) }}
			</aside>
			{% block menuExtra %}
			{#	
			<aside class="widget clearfix">
				<h5 class="short_headline"><span>Say Something</span></h5>
				<p><a href="contact.html"><img class="aligncenter" src="../demo/fotogrph-running-water.jpg" alt="" /></a>
				<p>Image by <a title="CC BY 3.0 | Fotogrph.com" href="http://fotogrph.com/" target="blank">Fotogrph</a>. Think clicks-and-mortar. But don’t think all three at the same time. It seems unclear, but it’s entirely completely realistic! The infomediaries factor can be summed up in one word: killer. What do we integrate? Anything and everything, regardless of humbleness!</p>
				<p class="right"><a href="#" class="btn btn-small btn-very-subtle">Learn More &rarr;</a></p>
			</aside>				
			#}
			{% endblock %}
		</section>
		<div class="span9">	{# the content of the div will be replace by the ajax call #}
			<div class="row-fluid">
				<section id="tertiary-nav" class="span4">
					<aside class="widget" id="id-master">
						{% block subMenuFrame %}{% endblock %}
					</aside>
				</section>

				<div id="id-slave" class="span8 tertiary-column"> 
					<div class="widget">
					{% block viewContent %}viewContent{% endblock %}
					</div>
				</div>
			</div>		
		</div>		 
	</div>	
</div>

{% endblock %}

