{#
 Form to unsuscribe from the newsletter
#}
<form method="post">
	<input type="hidden" name="nonews" value="1" />
	<button type="submit" class="btn btn-info" >{{ Yii_t('base','Unsubscribe for our newsletter') }}</button>
</form>