{% extends this.viewPath('formDialog') %}

{% block title %}
{{ Yii_t('base','Register new users') }}
{% endblock %}

{% block message %}
<p>
	{{ Yii_t('base','A mail has been send to your email address. It should arrive in a few minutes. In this mail there are the instruction to active your account.' ) |raw}} <br />
	{{ Yii_t('base','If you did not recieve the mail, check your spam box.' ) |raw}}
</p>

{% endblock %}
