{#
	a small form with only one field and a button
#}

<form method="post" action="{{ this.createUrl('profile/newsletter') }}" method="post">
<div class="input-append">
	<input class="span6" type="email" name="Newsletter[email]" placeholder="{{ Yii_t('base','Email address') }}">
	<button class="btn btn-info">{{ Yii_t('button','btn-sign-up') }}</button>
</div>	
</form>