{#
  The master page of all pages
#}

{% extends this.viewPath('main') %}

{% block content %}
{% include this.viewPath('caption') %}
{% set mode = mode |default('view') %}
<div class="bs-content">
	{# must first display any error connected to the main record #}	
  {% include this.viewPath('_error') %}
	{% include this.viewPath('flash') %}	
  
	{# now display the form #}	
	{% if mode == 'edit' %}
		{% block formContent %}
      <div class="row">      
        <div class="col-xs-12">
          {% include this.viewPath('_form') %}
        </div>    
      </div>      
		{% endblock %}
	{% elseif mode == 'view' %}
		{% block viewContent %}
			<div class="row">
				<div class="col-sm-10">
				{% include this.viewPath('_view') %}
				</div>
			</div>		
		{% endblock %}
	{% else %}
		{% block otherMode %}mode: {{ mode }}{% endblock %}
	{% endif %}	
</div>
{% endblock %}


{% block onReady %}
  {% if menuItem %}
		$('{{ menuItem }}').addClass('active');
	{% endif %}	
  
	$('.btn-edit').on('click', function() {
		window.location = window.location+"?mode=edit"; 
	});
  $('.btn-edit').hide();
  

	{{ parent() }}
{% endblock %}
	
	
	
	