{#
	the caption shown for every sub page
 #}
<div class="bs-content">
	<div class="row bs-page-header no-padding no-bottom-padding" style="position:relative;" >
		<div class="col-xs-2 id-marker2 id-marker text-center">
			{{ this.model.id }}
		</div>
		<div class="col-xs-2">&nbsp;</div>
		<div class="col-xs-10 no-right-padding info-text">{{ this.model.title }}</div>
	</div>
</div>