{% extends this.viewPath('dialog') %}
{% block dialogFooter %}
	<button type="button" class="btn btn-default" data-dismiss="modal">{{ Yii_t('button','btn-cancel') }}</button>
	<a href="#" id="id-test">test</a>
{% endblock %}
	
{% block onReady %}
	$('#id-test').on('click', function() {
		$('#id-modal-body').html($('#id-wait-message').html()); //responseText);		
	});
{% endblock %}