{% extends this.viewPath('formSmall') %}

{% block formExplain %}
<h3 class="short_headline"><span>why register?</span></h3>
<p>With registering you get a lot of goodies:
<ul>
	<li>More free exercises</li>
	<li>jamtracks</li>
	<li>newletter</li>
	<li>access to the q&amp;a section</li>
	<li>and a lot more things</li>
</ul>
</p>
{% endblock %}
