{% extends this.viewPath('viewForm') %}

{% set layout='full' %}
	
{%block content %}	
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<h2>
			{{ form.title }} 
			{% if mode != 'edit' %}<a  href="?mode=edit" class="pull-right btn btn-info">{{ Yii_t('button', 'btn-edit') }}</a> {% endif %}
		</h2>		
		{{ parent() }}
		{% if mode == 'edit' %} 
			<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-6">
			{% include this.viewPath('_buttons') %}
			</div>	
			</div>	
		{% endif %}
	</div>
{%endblock%}