{#
	the caption shown for every sub page
 #}
<div class="bs-content">
	<div class="row bs-page-header no-padding no-bottom-padding">
		<div class="col-sm-2 id-marker text-center">{{ modelClass }}</div>
		<div class="col-sm-10 no-right-padding info-text">Logging
		<span class="pull-right " ></span></div>
	</div>
</div>