{#
  The master page of all pages
#}

{% extends this.viewPath('main') %}


{% block content %}
{# include this.viewPath('caption') #}

<div class="bs-content">
	{# must first display any error connected to the main record #}		
	{% if model.hasErrors() %}
	<div class="row">
		<div class="col-lg-10 col-offset-2 alert alert-danger">			
			{{ html.errorSummary(model)|raw }}
		</div>
	</div>
	{% endif %}	
		
</div>
{% endblock %}


{% block onReady %}
  $('.menu-overview').addClass('active');	
	{{ parent() }}
{% endblock %}
	
	
	
	