{#
	the caption shown for every sub page
 #}
<div class="bs-content">
	<div class="row bs-page-header no-padding no-bottom-padding">
		{{  Yii_t('app', 'group: {name}}', {'{name}': this.model.name })}}
	</div>
</div>