{% extends this.viewPath('mainPage') %}
{% block content %}

<div class="bs-content">
	{# must first display any error connected to the main record #}
	{% if this.model.hasErrors() %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 alert alert-danger">			
			{{ html.errorSummary(this.model)|raw }}
		</div>
	</div>
	{% endif %}	
	<div class="row">		
	{% include this.viewPath('_form') %}
	</div>		
</div>

{% endblock %}

